---
title: "Prince Boba Ragdoll Cattery - San Francisco, Bay Area, California"
description: "A Ragdoll cattery in San Francisco, Bay Area that specializes in sweet and playful bicolor ragdolls. We have blue, seal, tortie, blue cream or red bicolor ragdolls."
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body data-spy="scroll" data-target=".site-navbar-target"
data-offset="300">
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=648457725274825&autoLogAppEvents=1"></script>
  <div class="site-wrap" id="home-section">
    {% include navigation.html %}
    <div class="site-section" id="blog-section">
      <div class="container py-4">
        <div class="row">

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="h-entry">
              <img src="./images/compressed/Windermere/IMG_5035.JPG" data-src="./images/Windermere/IMG_5035.JPG" alt="bay area ragdolls"
              class="img-fluid"> <a href="./blogs/windermere_intro.html">
              <h2>King Windermere</h2></a> <b>Windermere is a Seal Bicolor</br> He is a big boy with very sweet temperment</b>
              <div class="meta mb-4">
                Windermere<span class="mx-2">•</span> October 2,
                2021<span class="mx-2">•</span> <a href=
                "./blogs/">Cats</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="h-entry">
              <img src="./images/compressed/Ivy/IMG_3984.JPG" data-src="./images/Ivy/IMG_3984.JPG" alt="bay area ragdolls"
              class="img-fluid"> <a href="./blogs/ivy_intro.html">
              <h2>Queen Ivy</h2></a> <b>Ivy is a Blue Cream Bicolor</br> She is the social queen of the house </b>
              <div class="meta mb-4">
                Ivy<span class="mx-2">•</span> October 2,
                2021<span class="mx-2">•</span> <a href=
                "./blogs/">Cats</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="h-entry">
              <img src="./images/compressed/Belrose/IMG_1304.jpg" data-src="./images/Belrose/IMG_1304.jpg" alt="bay area ragdolls"
              class="img-fluid"> <a href="./blogs/Belrose_intro.html">
              <h2>Queen Belrose</h2></a> <b>Belrose is a Cream Bicolor</br> She loves to sit on human's lap </b>
              <div class="meta mb-4">
                Belrose<span class="mx-2">•</span> October 2,
                2021<span class="mx-2">•</span> <a href=
                "./blogs/">Cats</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="h-entry">
              <img src="./images/Maggie/maggie_0.jpg" data-src="./images/Maggie/maggie_0.jpg" alt="bay area ragdolls"
              class="img-fluid"> <a href="./blogs/maggie_intro.html">
              <h2>Queen Magnolia</h2></a> <b>Magnolia is a Blue Cream Bicolor</br> She will not leave you alone </b>
              <div class="meta mb-4">
                Magnolia<span class="mx-2">•</span> December 29,
                2025<span class="mx-2">•</span> <a href=
                "./blogs/">Cats</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-blocks-cover" style="overflow: hidden;">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12" style="position: relative;"
          data-aos="fade-up" data-aos-delay="200">
            <img src="./images/compressed/cats/IMG_0855.JPG" data-src="./images/cats/IMG_0855.JPG" width="800" height="400" alt="bay area ragdolls"
            class="img-fluid img-absolute">
            <div class="row mb-4" data-aos="fade-up"
            data-aos-delay="200">
              <div class="col-lg-6 mr-auto">
                <h1>About Us</h1>
                <p class="mb-5"> Prince Boba Bay Area Ragdoll Cattery is <a href="https://tica.org/"> TICA</a> and <a href="https://cfa.org/"> CFA</a> certificated. 
                  We specialize in breeding sweet and playful bicolor ragdolls. 
                  We produce blue, seal, seal lynx, flame/red, cream, tortie(seal and flame), and blue cream bicolor ragdolls.
                  Learn more about how to get a kitten <a href="/blogs/kittens.html"> here</a>.

                </p>
              </div>
            </div>
          </div>
    </div>

    {% include footer.html %}
</body>
</html>
