<div class="footer py-5 text-center">
      <!--End mc_embed_signup-->
      <div class="container">
        <div class="row mb-5">
          <div class="col-12">
          <big>
            <p class="mb-0">
              <a href="https://facebook.com/princeloveboba" class="p-3"><span class="icon-facebook"></span></a>
              <a href="https://www.instagram.com/prince_love_boba/" class="p-3"><span class="icon-instagram"></span></a>
              <a href="https://www.linkedin.com/in/prince-boba-ba8a88233/" class="p-3"><span class="icon-linkedin"></span></a>
            </p>
          </big>
          </div>
        </div>
        <!-- {% if page.url == '/contact.html' %}
        <div id="mc_embed_signup">
        <form action="mailto:princebobaragdolls@gmail.com?subject=Inquiry"
         method="post"
         enctype="multipart/form-data"
         name="EmailForm">
         Name:
         <input type="text" size="19" name="ContactName">
         Email:
         <input type="text" size="19" name="ContactEmail" cols="50"><br><br>
         Message:<br><textarea name="ContactComment" rows="6" cols="50"></textarea><br><br>
         <input type="submit" value="send" class="button"> </form>
        </div>
        {% endif %} -->
        <div class="row">
          <div class="col-md-12">
            <p class="mb-0">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
             Copyright ©
            <script>
            document.write(new Date().getFullYear());
            </script> All rights reserved | This template is
            made with by <a href="https://colorlib.com" target=
            "_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .site-wrap -->
  <script src="{% if page.url contains '/blogs/' %}../{% endif %}js/jquery-3.3.1.min.js"></script>
  <script src="{% if page.url contains '/blogs/' %}../{% endif %}js/jquery-ui.js"></script>
  <script src="{% if page.url contains '/blogs/' %}../{% endif %}js/popper.min.js"></script>
  <script src="{% if page.url contains '/blogs/' %}../{% endif %}js/bootstrap.min.js"></script>
  <script src="{% if page.url contains '/blogs/' %}../{% endif %}js/owl.carousel.min.js"></script>
  <script src="{% if page.url contains '/blogs/' %}../{% endif %}js/jquery.countdown.min.js"></script>
  <script src="{% if page.url contains '/blogs/' %}../{% endif %}js/bootstrap-datepicker.min.js"></script>
  <script src="{% if page.url contains '/blogs/' %}../{% endif %}js/jquery.easing.1.3.js"></script>
  <script src="{% if page.url contains '/blogs/' %}../{% endif %}js/aos.js"></script>
  <script src="{% if page.url contains '/blogs/' %}../{% endif %}js/jquery.fancybox.min.js"></script>
  <script src="{% if page.url contains '/blogs/' %}../{% endif %}js/jquery.sticky.js"></script>
  <script src="{% if page.url contains '/blogs/' %}../{% endif %}js/main.js"></script>
  <script data-ad-client="ca-pub-5592460638816632" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
   <!-- Global site tag (gtag.js) - Google Analytics -->

  <script async src=
  "https://www.googletagmanager.com/gtag/js?id=UA-159811263-1"></script>

  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-159811263-1');
  </script>
  <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/547ab875be5e4402b1c69084a/ffdfc64be2f66571f5c9fbfe2.js");</script>
