<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3"></div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>
  <header class="site-navbar py-4 site-navbar-target" role="banner">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light text-right" role="navigation">
      <a class="navbar-brand mb-0 h1" href="{% if page.url contains '/blogs/' %}/{% else %}/{% endif %}">Prince Boba Cattery</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
          <li class="{% if page.url == '/' %}active {% endif %}nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="{% if page.url contains '/blogs' and page.url != '/blogs/upcoming_litters.html' and page.url != '/blogs/kittens.html' %}active {% endif %}nav-item">
            <a href="/blogs" class="nav-link">Cats</a>
          </li>
          <li class="{% if page.url == '/blogs/upcoming_litters.html' %}active {% endif %}nav-item">
            <a href="/blogs/upcoming_litters.html" class="nav-link">Upcoming Litters</a>
          </li>
          <li class="{% if page.url == '/blogs/kittens.html' %}active {% endif %}nav-item">
            <a href="/blogs/kittens.html" class="nav-link"> How to get a kitten</a>
          </li>
          <li class="{% if page.url == '/contact.html' %}active {% endif %}nav-item">
            <a href="/contact.html" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
