---
title: "Prince Boba Ragdoll Cattery - Queen Bayliss"
description: "Queen Bayliss is a Seal lynx bicolor. She is expecting kittens in April 2022!"
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body data-spy="scroll" data-target=".site-navbar-target"
data-offset="300">
  <div class="site-wrap" id="home-section">
    {% include navigation.html %}
    <div class="site-section" id="blog-section">
      <div class="container py-4">
        <div class="row">
        <img src="../images/compressed/logo.JPG" data-src="../images/logo.JPG" alt="princeboba" width = 5% height = 5% class="img-fluid">
        &nbsp
        <p>
          We are a Bay Area ragdoll cattery. Get your ragdoll kittens now!
        </p>
          <div class="col-md-6 col-lg-9 mb-4 mb-lg-4">
            <div class="h-entry">
              <h2><a href="#">[Retired] Queen Bayliss: Seal Lynx Bicolor</a></h2>
              <div class="meta mb-4">
                Bayliss <span class="mx-2">•</span> October 2,
                2021<span class="mx-2">•</span> <a href=
                "/blogs">Cats</a>
              </div>
              <img src="../images/compressed/Bayliss/IMG_3980.JPG" data-src="../images/Bayliss/IMG_3980.JPG" width = 266 height = 300 alt="bay area ragdolls" class="img-fluid"/>
              <img src="../images/compressed/Bayliss/IMG_4033.png" data-src="../images/Bayliss/IMG_4033.png" width = 266 height = 300 alt=
                "bay area ragdolls" class="img-fluid">
              <img src="../images/compressed/Bayliss/IMG_4047.png" data-src="../images/Bayliss/IMG_4047.png" width = 266 height = 300 alt=
                "bay area ragdolls" class="img-fluid">
              <p>
                You know there is always one beautiful girl in your high school? You don't know her, but you heard of how pretty she is? (If that's you, congratulations!) That's Bayliss.
                My mom can never remember her name, but she alwasy asks me "How is your little butterfly kitten doing?". Bayliss is the only lynx girl of the family. Lynx is a dominant gene, so I am hoping for more lynx babies from her.
              </p>
              <div class="section-separator">
                <img src="../images/compressed/Bayliss/IMG_4723.JPG" data-src="../images/Bayliss/IMG_4723.JPG" width = 266 height = 300 alt="bay area ragdolls" class="img-fluid"/>
              <img src="../images/compressed/Bayliss/IMG_4242.JPG" data-src="../images/Bayliss/IMG_4242.JPG" width = 266 height = 300 alt=
                "bay area ragdolls" class="img-fluid">
              <img src="../images/compressed/Bayliss/IMG_1041.JPG" data-src="../images/Bayliss/IMG_1041.JPG" width = 266 height = 300 alt=
                "bay area ragdolls" class="img-fluid">
                <p>
                  One day, I noticed that there was dirt on the floor. It was too little to be caused by the dogs, so I kept an eye on the cats. It turned out Bayliss was very interested in the plant food sticks I put into my plants, so SHE DUG THEM OUT! I didn't know a cat would dig things from the soil.
                </p>
              </div>
              <div class="section-separator">
                <img src="../images/compressed/Bayliss/IMG_3847.JPG" data-src="../images/Bayliss/IMG_3847.JPG" width = 266 height = 300 alt="bay area ragdolls" class="img-fluid"/>
              <img src="../images/compressed/Bayliss/IMG_4179.png" data-src="../images/Bayliss/IMG_4179.png" width = 266 height = 300 alt=
                "bay area ragdolls" class="img-fluid">
              <img src="../images/compressed/Bayliss/IMG_4725.png" data-src="../images/Bayliss/IMG_4725.png" width = 266 height = 300 alt=
                "bay area ragdolls" class="img-fluid">
              </div>
              </div>
              <div class="fb-share-button" data-href="https://princeboba.github.io/blogs/bayliss_intro.html" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fprinceboba.travel%2Fblogs%2Fmaui-in-2020.html&src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
              <br/>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
</body>
</html>
