---
title: "Prince Boba Ragdoll Cattery - Kings and Queens"
description: "King Windermere: Seal Bicolor; Queen Bayliss: Seal Lynx Bicolor; Queen Ivy: Blue Cream Bicolor"
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body data-spy="scroll" data-target=".site-navbar-target"
data-offset="300">
  <div class="site-wrap" id="home-section">
    {% include navigation.html %}
    <div class="site-section" id="blog-section">
      <div class="container py-4">
        <div class="row mb-5">
        <img src="../images/compressed/logo.JPG" data-src="../images/logo.JPG" alt="princeboba" width = 5% height = 5% class="img-fluid">
        &nbsp
        <p>
          We are a Bay Area ragdoll cattery. Get your ragdoll kittens now!
        </p>
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Our Cats</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="h-entry">
              <img src="../images/compressed/Windermere/IMG_5035.JPG" data-src="../images/Windermere/IMG_5035.JPG" alt="bay area ragdolls"
              class="img-fluid"> <a href="./windermere_intro.html">
              <h2>King Windermere</h2></a> <b> Windermere is a Seal Bicolor</br> He is a big boy with very sweet temperment</b>
              <div class="meta mb-4">
                Windermere<span class="mx-2">•</span> October 2,
                2021<span class="mx-2">•</span> <a href=
                "/blogs">Cats</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="h-entry">
              <img src="../images/compressed/Ivy/IMG_3984.JPG" data-src="../images/Ivy/IMG_3984.JPG" alt="bay area ragdolls"
              class="img-fluid"> <a href="./ivy_intro.html">
              <h2>Queen Ivy</h2></a> <b>Ivy is a Blue Cream Bicolor</br> She is the social queen of the house</b>
              <div class="meta mb-4">
                Ivy<span class="mx-2">•</span> October 2,
                2021<span class="mx-2">•</span> <a href=
                "/blogs">Cats</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="h-entry">
              <img src="../images/compressed/Belrose/IMG_0304.jpg" data-src="../images/Belrose/IMG_0304.jpg" alt="bay area ragdolls"
              class="img-fluid"> <a href="./Belrose_intro.html">
              <h2>Queen Belrose</h2></a> <b> Belrose is a Cream Bicolor</br> She loves to purr in your arms</b>
              <div class="meta mb-4">
                Belrose<span class="mx-2">•</span> Jan 8,
                2023<span class="mx-2">•</span> <a href=
                "/blogs">Cats</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="h-entry">
              <img src="../images/Maggie/maggie_0.jpg" data-src="../images/Maggie/maggie_0.jpg" alt="bay area ragdolls"
              class="img-fluid"> <a href="./maggie_intro.html">
              <h2>Queen Magnolia</h2></a> <b>Magnolia is a Blue Cream Bicolor</br> She will not leave you alone</b>
              <div class="meta mb-4">
                Bayliss<span class="mx-2">•</span> December 29,
                2025<span class="mx-2">•</span> <a href=
                "/blogs">Cats</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="h-entry">
              <img src="../images/compressed/Bayliss/IMG_5141.png" data-src="../images/Bayliss/IMG_5141.png" alt="bay area ragdolls"
              class="img-fluid"> <a href="./bayliss_intro.html">
              <h2>[Retired] Queen Bayliss</h2></a> <b>Bayliss is a Seal Lynx Bicolor</br> She is very soft and quiet</b>
              <div class="meta mb-4">
                Bayliss<span class="mx-2">•</span> October 2,
                2021<span class="mx-2">•</span> <a href=
                "/blogs">Cats</a>
              </div>
            </div>
          </div>
        </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
</body>
</html>
