---
title: "Prince Boba Ragdoll Cattery - Queen Ivy"
description: "Queen Ivy is a rare Blue Cream Bicolor. She is expecting to have kittens in Spring 2022!"
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body data-spy="scroll" data-target=".site-navbar-target"
data-offset="300">
  <div class="site-wrap" id="home-section">
    {% include navigation.html %}
    <div class="site-section" id="blog-section">
      <div class="container py-4">
        <div class="row">
        <img src="../images/compressed/logo.JPG" data-src="../images/logo.JPG" alt="princeboba" width = 5% height = 5% class="img-fluid">
        &nbsp
        <p>
          We are a Bay Area ragdoll cattery. Get your ragdoll kittens now!
        </p>
          <div class="col-md-6 col-lg-9 mb-4 mb-lg-4">
            <div class="h-entry">
              <h2><a href="#">Queen Ivy: Blue Cream Bicolor</a></h2>
              <div class="meta mb-4">
                Ivy <span class="mx-2">•</span> October 2,
                2021<span class="mx-2">•</span> <a href=
                "/blogs">Cats</a>
              </div>
              <img src="../images/compressed/Ivy/IMG_3499.JPG" data-src="../images/Ivy/IMG_3499.JPG" width = 266 height = 300 alt="bay area ragdolls" class="img-fluid"/>
              <img src="../images/compressed/Ivy/IMG_3715.JPG" data-src="../images/Ivy/IMG_3715.JPG" width = 266 height = 300 alt=
                "bay area ragdolls" class="img-fluid">
              <img src="../images/compressed/Ivy/IMG_3655.JPG" data-src="../images/Ivy/IMG_3655.JPG" width = 266 height = 300 alt=
                "bay area ragdolls" class="img-fluid">
              <p>
                Ivy is a Blue Cream Bicolor, or a Blue Cream Tortie. It's one of the rarest colors of ragdolls. Other than the traditional blue bicolor, Ivy also has cream on her, which is a lighter shade of flame/red. When I was planning the cattery, I wasn't hoping for a Blue Cream (I needed to be reasonable, the chance of me getting any rare color was very low), but my breeder surprised me with Ivy. I am so lucky to have her.
              </p>
              <div class="section-separator">
                <img src="../images/compressed/Ivy/IMG_3733.JPG" data-src="../images/Ivy/IMG_3733.JPG" width = 266 height = 300 alt="bay area ragdolls" class="img-fluid"/>
              <img src="../images/compressed/Ivy/IMG_5058.JPG" data-src="../images/Ivy/IMG_5058.JPG" width = 266 height = 300 alt=
                "bay area ragdolls" class="img-fluid">
              <img src="../images/compressed/Ivy/IMG_3899.JPG" data-src="../images/Ivy/IMG_3899.JPG" width = 266 height = 300 alt=
                "bay area ragdolls" class="img-fluid">
                <p>
                  When Ivy came, she immediately jumped out and started playing non stop. She was not afraid of anything in the house, other than my Samoyed Walwal (to be fair, it's a gaint dog). Since then, she has became the social queen of the house. When my friends' dogs are visiting, Ivy is always the first to say hello, ad trys to play with everyone.
                </p>
              </div>
              <div class="section-separator">
                <img src="../images/compressed/Ivy/IMG_3842.JPG" data-src="../images/Ivy/IMG_3842.JPG" width = 266 height = 300 alt="bay area ragdolls" class="img-fluid"/>
              <img src="../images/compressed/Ivy/IMG_0012.JPG" data-src="../images/Ivy/IMG_0012.JPG" width = 266 height = 300 alt=
                "bay area ragdolls" class="img-fluid">
              <img src="../images/compressed/Ivy/IMG_3600.JPG" data-src="../images/Ivy/IMG_3600.JPG" width = 266 height = 300 alt=
                "bay area ragdolls" class="img-fluid">
                <p>
                  Well, the only complain I have for Ivy, is that she loves food TOO MUCH. She is constantly eating. Happy? She is eating. Just woke up? She is eating. Got scared by Walwal? She is still eating. She not only steals other cats' food, she has stolen my chicken, and even dog food. (Hello, shouldn't dog food be similar to your own food??) No wonder she is such a big girl now. I hope she can keep being happy and enjoy all the good food in the house! (Let me hide my plant food somewhere...)
              </p>
              </div>
              </div>
              <div class="fb-share-button" data-href="https://princeboba.github.io/blogs/ivy_intro.html" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fprinceboba.travel%2Fblogs%2Fmaui-in-2020.html&src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
              <br/>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
</body>
</html>
