---
title: "Prince Boba Ragdoll Cattery - How to get a kitten?"
description: "We are looking for loving and responsible parents. Checkout how to get a kitten from us!"
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body data-spy="scroll" data-target=".site-navbar-target"
data-offset="300">
  <div class="site-wrap" id="home-section">
    {% include navigation.html %}
    <div class="site-section" id="blog-section">
      <div class="container py-4">
        <div class="row">
        <img src="../images/compressed/logo.JPG" data-src="../images/logo.JPG" alt="princeboba" width = 5% height = 5% class="img-fluid">
        &nbsp
        <p>
          We are a Bay Area ragdoll cattery. Get your ragdoll kittens now!
        </p>
          <div class="col-md-6 col-lg-9 mb-4 mb-lg-4">
            <div class="h-entry">
              <h2><a href="#">How to get a kitten?</a></h2>
              <div class="meta mb-4">
                Kitten <span class="mx-2">•</span> Feb 22,
                2022<span class="mx-2">•</span> <a href=
                "/blogs">Cats</a>
              </div>
              <div class="section-separator">
                <img src="../images/compressed/Kittens/kittens_1.jpeg" data-src="../images/Kittens/kittens_1.jpeg" width = 266 height = 300 alt="bay area ragdolls" class="img-fluid"/>
              <img src="../images/compressed/Kittens/kittens_2.jpeg" data-src="../images/Kittens/kittens_2.jpeg" width = 266 height = 300 alt=
                "bay area ragdolls" class="img-fluid">
              <img src="../images/compressed/Kittens/kittens_3.jpg" data-src="../images/Kittens/kittens_3.jpg" width = 266 height = 300 alt=
                "bay area ragdolls" class="img-fluid">
              <p>
                Thank you so much for considering getting a kitten from us.
                We are looking for loving and responsible parents that can take care of their kittens for life.
                As a result, we require each prospective parent to fill out an
                <a href="https://forms.gle/dhQrA19vvGBEjf5h9"> application</a>. </br> </br>
                Each pet quality kitten costs $2000-$2500, and each show quality kitten costs $2500-$3000.
                After your application is approved, we ask you to put down a $200 non-refundable deposit to secure your spot on the waitlist.

                Each kitten will be dewormed, vaccinated according to their age, and neutered/spayed before they go home. The parentage of
                the kittens has been tested HCM negative by UC Davis.</br> </br>
                When the kittens are 2 months old, all the perspective parents will be invited to come visit and select the kittens based on the waitlist order.
                We prefer parents to physical come and pick up their kittens, but shipping could be arranged at parents' expense.
                We don't provide international shipping. </br> </br>
              </p>
              <p>
                <h2>Join the waitlist Step by Step: </h2>
                1. Fill out an <a href="https://forms.gle/dhQrA19vvGBEjf5h9"> application</a> </br>
                2. Pay a $200 non-refundable deposit </br> </br>
                We usually breed each queen once a year. We will advertise heavily when we confirm that a queen is expecting on social medias. The time frame will usually be around 6 months from then. You are more than welcome to join the waitlist at any time. Blue, blue cream, tortie, seal lynx are popular colors, and we recommend you join the waitlist as soon as you can if those are your preferred colors.
              </p>
              </div>
              <div class="section-separator">
              </div>
              </div>
              <div class="fb-share-button" data-href="https://princeboba.github.io/blogs/bayliss_intro.html" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fprinceboba.travel%2Fblogs%2Fmaui-in-2020.html&src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
              <br/>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
</body>
</html>
