---
title: "Prince Boba Ragdoll Cattery - Queen Magnolia"
description: "Queen Magnolia is a rare Blue Cream Bicolor."
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body data-spy="scroll" data-target=".site-navbar-target"
data-offset="300">
  <div class="site-wrap" id="home-section">
    {% include navigation.html %}
    <div class="site-section" id="blog-section">
      <div class="container py-4">
        <div class="row">
        <img src="../images/compressed/logo.JPG" data-src="../images/logo.JPG" alt="princeboba" width = 5% height = 5% class="img-fluid">
        &nbsp
        <p>
          We are a Bay Area ragdoll cattery. Get your ragdoll kittens now!
        </p>
          <div class="col-md-6 col-lg-9 mb-4 mb-lg-4">
            <div class="h-entry">
              <h2><a href="#">Queen Magnolia: Blue Cream Bicolor</a></h2>
              <div class="meta mb-4">
                Magnolia <span class="mx-2">•</span> December 29, 2025<span class="mx-2">•</span> <a href="/blogs">Cats</a>
              </div>
              <img src="../images/compressed/Maggie/maggie_2.jpg" data-src="../images/compressed/Maggie/maggie_2.jpg" width = 266 height = 300 alt=
                "bay area ragdolls" class="img-fluid">
              <img src="../images/compressed/Maggie/maggie_3.jpg" data-src="../images/compressed/Maggie/maggie_3.jpg" width = 266 height = 300 alt=
                "bay area ragdolls" class="img-fluid">
              <p>
                Magnolia is a Blue Cream Bicolor, or a Blue Cream Tortie. It's one of the rarest colors of ragdolls.
                She is from the same breeder of Ivy, and also just as sweet as her. She would not leave me alone, and is always looking for pets.
                You may have guessed from the pictures above, Maggie is a derpy little fluffy ball. 
                Interestly, Maggie doesn't really have an "awkward" phrase. She will join our breeding program in 2026. 
                We believe her kittens will be sweet and beautiful!
              </p>
              </div>
              <div class="section-separator">
              </div>
              </div>
              <div class="fb-share-button" data-href="https://princeboba.github.io/blogs/ivy_intro.html" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fprinceboba.travel%2Fblogs%2Fmaui-in-2020.html&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
              <br/>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
</body>
</html>
