---
title: "Prince Boba Ragdoll Cattery - King Windermere"
description: "King Windermere is a Seal bicolor."
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body data-spy="scroll" data-target=".site-navbar-target"
data-offset="300">
  <div class="site-wrap" id="home-section">
    {% include navigation.html %}
    <div class="site-section" id="blog-section">
      <div class="container py-4">
        <div class="row">
        <img src="../images/compressed/logo.JPG" data-src="../images/logo.JPG" alt="princeboba" width = 5% height = 5% class="img-fluid">
        &nbsp
        <p>
          We are a Bay Area ragdoll cattery. Get your ragdoll kittens now!
        </p>
          <div class="col-md-6 col-lg-9 mb-4 mb-lg-4">
            <div class="h-entry">
              <h2><a href="#">King Windermere: Seal Bicolor</a></h2>
              <div class="meta mb-4">
                Windermere <span class="mx-2">•</span> October 2,
                2021<span class="mx-2">•</span> <a href=
                "/blogs">Cats</a>
              </div>
              <img src="../images/compressed/Windermere/IMG_7520.JPG" data-src="../images/Windermere/IMG_7520.JPG" width = 266 height = 300 alt="bay area ragdolls" class="img-fluid"/>
              <img src="../images/compressed/Windermere/IMG_7540.JPG" data-src="../images/Windermere/IMG_7540.JPG" width = 266 height = 300 alt=
                "bay area ragdolls" class="img-fluid">
              <img src="../images/compressed/Windermere/IMG_7580.JPG" data-src="../images/Windermere/IMG_7580.JPG" width = 266 height = 300 alt=
                "bay area ragdolls" class="img-fluid">
              <p>
                Borned in Nov. 2020, Windermere was the biggest of his litter. I feel in love with him the first time I saw him. He is a dog-like cat. He loves human and he always follows you around. Whenever you sit down, you can find him climing into your lap and purring really loudly.
              </p>
              <div class="section-separator">
                <img src="../images/compressed/Windermere/IMG_3772.JPG" data-src="../images/Windermere/IMG_3772.JPG" width = 266 height = 300 alt=
                "bay area ragdolls" class="img-fluid">
                <img src="../images/compressed/Windermere/IMG_3771.JPG" data-src="../images/Windermere/IMG_3771.JPG" width = 266 height = 300 alt=
                "bay area ragdolls" class="img-fluid">
                <img src="../images/compressed/Windermere/IMG_7654.JPG" data-src="../images/Windermere/IMG_7654.JPG" width = 266 height = 300 alt=
                "bay area ragdolls" class="img-fluid">
                <p>
                  Windermere loves dogs. He and my Samoyed Walwal are best friends. Everyday you can find them playing together. Sometimes Windermere plays like a dog, while sometimes Walwal plays like a cat. It's really hard to focus on whatever you are doing while these two are having so much fun right next to you.
                </p>
              </div>
              <div class="section-separator">
              </div>
              </div>
              <div class="fb-share-button" data-href="https://princeboba.github.io/blogs/windermere_intro.html" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fprinceboba.travel%2Fblogs%2Fmaui-in-2020.html&src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
              <br/>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
</body>
</html>
